/* Table border styles */
.block.multi {
  border: 2px solid black;
}

.block.multi > div:not(:first-child) {
  border-top: 1px solid black; 
}

.block.multi > div > div:not(:first-child) {
  border-left: 1px solid black;
}

/* each table row is  flexbox */
.block.multi > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 5px;
}

.block.multi > div > div:first-child {
 width: 100%;
}

.block.multi > div > div::not(:first-child) {
  width: max-content;
 }

/* block options row styles */
.block.multi > div.block-options {
  background-color: #90EE90;
}

/* label styles */
.block.multi  div.label { 
  background-color: #6464cf;
  color: white;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  top: 0;
  right: 0;
  text-wrap: nowrap;
}

.block.multi div[class*="grouping-"].label { 
  background-color: green
}

.block.multi div[class*="container-"].label { 
  background-color: orange
}

.block.multi div[class*="grouping-"].label div.label,
.block.multi div[class*="container-"].label div.label{ 
  position: relative;
}

/* hr separator styles */
.block.multi hr {
  border: 1px solid red;
  width: 100%;
}

/* block item styles */
.block.multi > div:has(> div:nth-child(2)) {
  display: flex;
  flex-flow: row nowrap;
  gap: 0;
  padding: 0;
}

/* the classes field */
.block.multi > div:has(> div:nth-child(2)) > div {
  width: 20%;
  padding: 5px;
}

.block.multi img{
  width:100px;
}